{% extends 'base.html' %}
{% block title %}RSS Feed URL List{% endblock title %}


{% block content %}
    <div id="content-container" class="container p-none">
        <div id="al-container" class="side-p">
            <div id="al-control">
               <h3 class="ad-mh">Summary</h3>
                <div>
                <span class="pull-left">
                        <h4>
                            <p><a href="{% url 'rssrecords_list' %}">Total Number Of URLs In Account: {{ total }}</a></p>
                            <p><a href="{% url 'rssup_list' %}">Total Number Of URLs UP At Last Check: {{ totalup}}</a></p>
                            <p><a href="{% url 'rssdown_list' %}">Total Number Of URLs DOWN At Last Check: {{ totaldown }}</a></p>
                            <p><a href="{% url 'rssnotchecked_list' %}">Total URLs Not Yet Checked: {{ totalnotchecked }}</a></p>

                        </h4>
                    </span>
                    </div>
                    {# Add RSS Record Link #}
                    <span class="pull-right">
                        <a href="{% url 'rssrecord_new' %}"
                            class="btn btn-link p-r-none">+ Add New RSS URL</a>
                    </span>
                </h3>

            </div>

        </div>
    </div>
{% endblock content %}
