{% extends 'base.html' %}
{% block title %}RSS Feed URL List{% endblock title %}


{% block content %}
    <div id="content-container" class="container p-none">
        <div id="al-container" class="side-p">
            <div id="al-control">
                <h3 class="ad-mh">RSS Feed URL List
                    {# Add RSS Record Link #}
{#                    <span class="pull-right">#}
{#                        <a href="{% url 'rssrecord_new' %}"#}
{#                            class="btn btn-link p-r-none">+ Add New RSS URL</a>#}
{#                    </span>#}
                </h3>
                RSS Record Search Form
                <form action="{% url 'account_list' %}" method="get">
                    <input id="al-search" type="text"
                            name="account" value="{{ request.GET.rssrecord }}"
                        class="form-control" />
                    <input type="submit"
                            value="Search" class="btn btn-success" />
                </form>
            </div>
            List of Accounts


            <ul id="al-group" class="strip-list">
                {% for rssrecord in rssrecords %}
                    <li class="al-item">
                        <span class="al-url">URL: {{ rssrecord.url }}</span>
                        <br>
{#                      <a href="{{ rssrecord.get_absolute_url }}"><h4 class="al-name">{{ rssrecord.name }}</h4></a>#}
                        <a class=ad-control edit-account btn btn-link" href="{{ rssrecord.get_update_url }}">Edit</a>
                        <span class="al-created">First uploaded on {{ rssrecord.created_on }}</span>
                        <br>
                        <span class="al-created">Last checked on {{ rssrecord.last_checked }} GMT</span>
                        <br>
                        <span class="al-created">Site was: {{ rssrecord.upordown }}</span>
                        <br>
                        <span class="al-created">Site updated: {{ rssrecord.dayssinceupdate }} days ago</span>
                        <br>

                    </li>
                {% endfor %}
            </ul>
            Pagination Section
            {% if is_paginated %}
                <div id="al-paginate">
                    <ul class="strip-list al-pgnt-list">
                        {% if page_obj.has_previous %}
                            <li class="pull-left">
                                <a href="{% url 'rssrecords_list' %}?page={{ page_obj.previous_page_number }}
                                {% if request.GET.rssrecord %}&rssrecord={{ request.GET.rssrecord }}{% endif %}">Prev</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="pull-right">
                                <a href="{% url 'rssrecords_list' %}?page={{ page_obj.next_page_number }}
                                {% if request.GET.rssrecord %}&rssrecord={{ request.GET.rssrecord }}{% endif %}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
{% endif %}
        </div>
    </div>
{% endblock content %}
