{#<form id="gi-form"#}
{#      action="{% if rssrecord.uuid %}#}
{#      {{ rssrecord.get_update_url }}{% else %}{% url 'rssrecord_upload' %}{% endif %}"#}
{#      method="post">#}
<form action="{% url 'rssrecord_upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-9">
            <div><h2>Select File To Upload</h2></div>
            <p></p>
            <p>{{ form2.uploadfile.label }}: {{ form2.uploadfile.help_text }}</p>
{#            <p>{{ form.csvfile.errors }}</p>#}
            <p>{{ form2.uploadfile }}</p>
        </div>

    </div>
    <input id="gi-form-submit" class="btn btn-primary" type="submit" value="UPLOAD">
    <p>{{ form.non_field_errors }}</p>
</form>
